<div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between">
  <div nz-col>
    <h1>員工基本資料</h1>
  </div>
  <div>
    <button
      nz-button
      nzType="primary"
      nzSize="large"
    >
      <i nz-icon nzType="plus" nzTheme="outline"></i>新增員工
    </button>
  </div>
</div>

<nz-table #employee [nzData]="employeeData">
  <thead>
    <tr>
      <th nzShowSort nzSortKey="name">
        姓名
      </th>
      <th nzShowSort nzSortKey="en">
        英文姓名
      </th>
      <th nzShowSort nzSortKey="email">Email</th>
      <th nzShowSort nzSortKey="extention">
        分機
      </th>
      <th nzShowSort nzSortKey="position">
        職務
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of employee.data">

      <td>
        <a [routerLink]="['/employee', data.employee_id]">{{ data.employee_name }}</a>
      </td>
      <td>{{ data.employee_en }}</td>
      <td>{{ data.employee_email }}</td>
      <td>{{ data.employee_extension }}</td>
      <td>{{ data.employee_position }}</td>
    </tr>
  </tbody>
</nz-table>
