<form nz-form [formGroup]="validateForm">
  <nz-form-item [hidden]="true">
    <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="id"
      >ID</nz-form-label
    >
    <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="此欄位為必填欄位">
      <input nz-input placeholder="帳號" formControlName="id" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="title" [nzSm]="5" [nzXs]="24"> 姓名</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="text" nz-input formControlName="staff_name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="place" [nzSm]="5" [nzXs]="24">
      公出地點</nz-form-label
    >
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="text" nz-input formControlName="destination" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="5" [nzXs]="24"> 公出時間</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-range-picker
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        [nzDisabled]="isRead"
        nzFormat="yyyy-MM-dd HH:mm"
        (nzOnOk)="onOk($event)"
        (ngModelChange)="onChange($event)"
        formControlName="dateRange"
      ></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="reason" [nzSm]="5" [nzXs]="24">
      公出事由</nz-form-label
    >
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <input type="textarea" nz-input formControlName="reason" />
    </nz-form-control>
  </nz-form-item>
  <!-- <button mat-raised-button color="accent" type="submit">送出</button> -->
</form>

<div *nzModalFooter>
  <!-- <button nz-button nzType="default" (click)="modal.close()">
      關閉
    </button> -->
  <button nz-button nzType="default" (click)="modal.close()">
    取消
  </button>
  <button nz-button nzType="primary" (click)="updateBizOutList()">
    確定
  </button>
</div>
