<nz-descriptions nzTitle="員工資料表" nzBordered>
  <nz-descriptions-item nzTitle="姓名">{{
    employee_name
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="英文名">{{
    employee_en
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="職務">{{
    employee_position
  }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="到職日">
    {{ employee_onboarddate | date }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="手機" [nzSpan]="2">
    <span *ngIf="employee_mobile">{{ "0" + employee_mobile }}</span>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email" [nzSpan]="3">
    {{ employee_email }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="在職狀態">
    {{ employee_status }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="出生年月日">
    {{ employee_bd | date }}</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="分機">
    {{ employee_extension }}</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="住址">
    {{ employee_address }}
  </nz-descriptions-item>
</nz-descriptions>

<br />
<div nz-row nzType="flex" nzJustify="space-between">
  <div nz-col>
    <button nz-button (click)="goBack()">
      <i nz-icon nzType="left"></i>回上一頁
    </button>
  </div>
  <div nz-col>
    <button
      nz-button
      nzType="primary"
      nzGhost
      (click)="showModal(employee, 'edit')"
      [disabled]="employee_status === '離職'"
    >
      <i nz-icon nzType="edit" nzTheme="outline"></i> 修改
    </button>
  </div>
</div>
