<div nz-row nzType="flex" nzAlign="middle" nzJustify="space-between">
  <div nz-col>
    <h1>公出系統</h1>
  </div>
  <div>
    <button nz-button nzType="primary" nzSize="large" (click)="showModal(null,'create')">
      <i nz-icon nzType="plus" nzTheme="outline"></i>申請公出
    </button>
  </div>
</div>

<nz-table #bizout [nzData]="bizoutData">
  <thead>
    <tr>
      <th nzShowSort nzSortKey="name">
        姓名
      </th>
      <th nzShowSort nzSortKey="place">公出地點</th>
      <th nzShowSort nzSortKey="startDate">
        開始時間
      </th>
      <th nzShowSort nzSortKey="endDate">
        結束時間
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of bizout.data">
      <td>{{ data.staff_name }}</td>
      <td>{{ data.destination }}</td>
      <td>{{ data.startDate }}</td>
      <td>{{ data.endDate }}</td>
      <td style="text-align: end;">
        <button nz-button nzType="default" (click)="showModal(data,'read')">
          <i nz-icon nzType="profile" nzTheme="outline"></i> 明細
        </button>
        <button nz-button nzType="primary" nzGhost (click)="showModal(data,'edit')">
          <i nz-icon nzType="edit" nzTheme="outline"></i> 修改
        </button>
        <button nz-button nzType="danger" nzGhost (click)="delete(data.id)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>刪除
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
